WATCH-tier-scanner-full.json
{
  "name": "WATCH-tier-scanner-full",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        400,
        512
      ],
      "id": "9daa81b7-2ba8-4fa7-bfe7-ed1231c83006",
      "placeholder": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        224
      ],
      "id": "b0ae3ebf-28d3-417c-a0fe-3df9f541c5f0",
      "name": "HOT Tier Trigger (30min)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        432
      ],
      "id": "b838a122-fc65-4388-a8ef-275d76648fa6",
      "name": "WATCH Tier Trigger (2hr)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        640
      ],
      "id": "9ecf6431-8e2e-4acf-8ecc-70af772193a7",
      "name": "RADAR Tier Trigger (daily)"
    },
    {
      "parameters": {
        "jsCode": "// Determine tier based on which trigger fired\nconst nodeName = $prevNode.name;\n\nlet tier;\nif (nodeName.includes(\"15\")) {\n    tier = \"HOT\";\n} else if (nodeName.includes(\"2\")) {\n    tier = \"WATCH\";\n} else {\n    tier = \"RADAR\";\n}\n\nreturn [{ json: { tier: tier } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        224
      ],
      "id": "fb6353d0-15c6-48df-8b8b-963d624268cf",
      "name": "Determine Tier"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT ticker FROM watchlist WHERE tier =  '{{ $json.tier }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        224
      ],
      "id": "e80ec08d-87da-435d-b64b-a660b4787c4c",
      "name": "Get Tickers By Tier",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        224
      ],
      "id": "f8f0445a-8034-45b9-b633-237f961ef68a",
      "name": "Ticker Loop"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT technical_score, news_score, sentiment_score, risk_score,\n       technical_computed_at, news_computed_at, \n       sentiment_computed_at, risk_computed_at\nFROM agent_scores \nWHERE ticker = '{{ $json.ticker }}'\nORDER BY sentiment_computed_at DESC \nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        240
      ],
      "id": "b36bc9ff-c506-4971-b8fd-5441a7d8916b",
      "name": "Get Last Agent Scores",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Freshness rules in minutes\nconst freshnessRules = {\n  technical: 240,\n  news: 60,\n  sentiment: 30,\n  risk: 120\n};\n\n// Get last scores from previous PostgreSQL node\nconst lastScores = $input.first().json;   \n\nconst ticker =   $('Ticker Loop').first().json.ticker\n\n// Determine which agents need fresh run\nconst runAgents = [];\nfor (const agent of ['technical', 'news', 'sentiment', 'risk']) {\n  const computedAt = new Date(lastScores[`${agent}_computed_at`]);\n  const ageMinutes = (now - computedAt) / 1000 / 60;\n  if (ageMinutes > freshnessRules[agent]) {\n    runAgents.push(agent);\n  }\n}\n\n// Build cached payload for agents NOT running fresh\nconst payload = {\n  ticker: ticker,\n  interval: \"1d\",\n  run_agents: runAgents,\n  previous_technical_score: lastScores.technical_score,\n  previous_news_score: lastScores.news_score,\n  previous_sentiment_score: lastScores.sentiment_score,\n  previous_risk_score: lastScores.risk_score\n};\n\n// Add cached scores for agents NOT running fresh\nfor (const agent of ['technical', 'news', 'sentiment', 'risk']) {\n  if (!runAgents.includes(agent)) {\n    payload[`cached_${agent}_score`] = lastScores[`${agent}_score`];\n    payload[`cached_${agent}_summary`] = null;\n  }\n}\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        240
      ],
      "id": "e567c78a-ff93-4782-b9e5-9a6f652d1f90",
      "name": "Build Pipeline Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://likewise-fascism-thicket.ngrok-free.dev/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        240
      ],
      "id": "788b01e7-e745-45a0-a431-f09d40e0bc1d",
      "name": "LangGraph Pipeline"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_scores \n(ticker, technical_score, news_score, sentiment_score, risk_score,\n technical_computed_at, news_computed_at, sentiment_computed_at, risk_computed_at)\nVALUES ('{{ $json.ticker }}' , {{ $json.technical_score }} ,{{ $json.news_score }} , {{ $json.sentiment_score }} ,{{ $json.risk_score }} ,\n\n  NOW(),\n  NOW(),\n  NOW(),\n  NOW()\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        240
      ],
      "id": "b27be8c8-e36c-4461-b937-09b2ea0f91de",
      "name": "Save Agent Scores",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT confidence_score \nFROM confidence_history \nWHERE ticker = '{{ $('Ticker Loop').item.json.ticker }}'\nORDER BY recorded_at DESC \nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        464
      ],
      "id": "1821a9a2-7c51-4244-b8bc-cebd863f40da",
      "name": "Get Previous Confidence",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO confidence_history (ticker, confidence_score, decision, delta)\nVALUES (\n  '{{ $('LangGraph Pipeline').item.json.ticker }}',\n  {{ $('LangGraph Pipeline').item.json.confidence }},\n  '{{ $('LangGraph Pipeline').item.json.decision }}',\n  {{ $('LangGraph Pipeline').item.json.confidence }} - {{ $json.confidence_score }}\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        464
      ],
      "id": "415b52f6-dbc8-4eb5-b91f-effa3813a6e1",
      "name": "Save Confidence History",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "662ebf41-d9f4-4edd-91ce-e4eb4a8e6808",
              "leftValue": "={{ $('LangGraph Pipeline').item.json.alert_type }}",
              "rightValue": "IMMEDIATE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0f9c0324-897a-4b96-a11c-700d6e46ed2a",
              "leftValue": "={{ $('LangGraph Pipeline').item.json.alert_type }}",
              "rightValue": "ABSOLUTE_LOW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        464
      ],
      "id": "4ab2f664-0493-4cb0-b82c-d9b1d217dc3d",
      "name": "Check Alert Triggers"
    },
    {
      "parameters": {
        "fromEmail": "kondewarshubham96@gmail.com",
        "toEmail": "kondewarshubham96@gmail.com",
        "subject": "=Market Alert -  {{ $('LangGraph Pipeline').item.json.ticker }}  -- {{ $('LangGraph Pipeline').item.json.decision }}",
        "emailFormat": "text",
        "text": "=Ticker :    {{ $('LangGraph Pipeline').item.json.ticker }}\nDecision :{{ $('LangGraph Pipeline').item.json.decision }}\nConfidence : {{ $('LangGraph Pipeline').item.json.confidence }}\nAlert Type :  {{ $('LangGraph Pipeline').item.json.alert_type }}\n\n\nAgent Scores:\nTechnical:{{ $('LangGraph Pipeline').item.json.technical_score }}\nNews:{{ $('LangGraph Pipeline').item.json.news_score }}\nSentiment:{{ $('LangGraph Pipeline').item.json.sentiment_score }}\nRisk: {{ $('LangGraph Pipeline').item.json.risk_score }}\n\nReasoning :{{ $('LangGraph Pipeline').item.json.reasoning }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        464
      ],
      "id": "271304f1-2368-445d-a8e6-59a3f0db8d49",
      "name": "Send Alert Email",
      "webhookId": "9d7302ee-26aa-483b-af7f-1f7b04900dfe",
      "credentials": {
        "smtp": {
          "id": "SNWyd8uh5Vn81LQS",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE watchlist \nSET last_scan = NOW(),\n    tier = CASE \n      WHEN {{ $('LangGraph Pipeline').item.json.confidence }} > 75 THEN 'HOT'\n      WHEN {{ $('LangGraph Pipeline').item.json.confidence }} < 55 THEN 'RADAR'\n      ELSE 'WATCH'\n    END\nWHERE ticker = '{{ $('LangGraph Pipeline').item.json.ticker }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        688
      ],
      "id": "f0451565-97a2-4b42-987b-03c1031a7a36",
      "name": "Update Tier",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO execution_log (ticker, run_result, run_time, error_msg)\nVALUES (\n  '{{ $('LangGraph Pipeline').item.json.ticker }}',\n  'succeeded',\n  NOW() - NOW(),\n  NULL\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        688
      ],
      "id": "20734102-1118-41a9-9b95-69061ea3b0fd",
      "name": "Save Execution Log",
      "credentials": {
        "postgres": {
          "id": "fe9cCnFbFyzzGMaZ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Replace Me": {
      "main": [
        [
          {
            "node": "Ticker Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOT Tier Trigger (30min)": {
      "main": [
        [
          {
            "node": "Determine Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WATCH Tier Trigger (2hr)": {
      "main": [
        [
          {
            "node": "Determine Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RADAR Tier Trigger (daily)": {
      "main": [
        [
          {
            "node": "Determine Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Tier": {
      "main": [
        [
          {
            "node": "Get Tickers By Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tickers By Tier": {
      "main": [
        [
          {
            "node": "Ticker Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticker Loop": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last Agent Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Agent Scores": {
      "main": [
        [
          {
            "node": "Build Pipeline Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pipeline Payload": {
      "main": [
        [
          {
            "node": "LangGraph Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LangGraph Pipeline": {
      "main": [
        [
          {
            "node": "Save Agent Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent Scores": {
      "main": [
        [
          {
            "node": "Get Previous Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Confidence": {
      "main": [
        [
          {
            "node": "Save Confidence History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Confidence History": {
      "main": [
        [
          {
            "node": "Check Alert Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Alert Triggers": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "Update Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tier": {
      "main": [
        [
          {
            "node": "Save Execution Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Log": {
      "main": [
        [
          {
            "node": "Ticker Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30e35a67-855f-4597-9ffa-87a928eb2fda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b25a148b6db7ee7d5f7ca207f2947474ef6d71c5d106b9c35d339836e7837bf2"
  },
  "nodeGroups": [],
  "id": "hIeqqkPA338OnGwY",
  "tags": []
}